#bar {
    margin: 30px; /* affects top/bottom & left/right alignment */
    font-size: 16px;
    font-family: Product Sans;
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color:#eceff4;
}

button {
    padding: 10px;
    margin: 5px
}

button:hover {
    background-color: #5e81ac;
}

button:focus {
    background-color: #5e81ac;
}

grid {
    background-color: rgba(46,52,64, 1);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px black;
    /* e.g. for common background to all buttons */
}
